.banner__container-div {
  display: flex;
  padding-left: 40px;
  padding-top: 50px;
  padding-right: 20px;

  &-image-div {
    display: flex;
    flex-direction: row;

  }

  &-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff; /* Add a border for better visibility */
    transition: transform 0.3s ease-in-out;
  
  }
  .banner__container-picture{
    width: 200px;
    height: auto;
  }
  .banner__container-image-div{
    padding-left: 10px;
  }
  .banner__container-picture:hover {
    transform: scale(1.1);
  }

  .banner__container-img {
   
    transition: transform 0.3s ease-in-out;
  }

  .banner__container-img:hover {
    transform: scale(1.1);
  }
}

.banner__container-title-div {

  padding-top: 60px;
}

.banner__container-img {
  padding-left: 05px;
  padding-right: 5px;
  width: 20px;
}

.banner__container-title {
  margin: 0;
  color: #421c0a;
  font-size: medium;
}

.banner__container-about {
  margin-top: auto;
  font-size: small;
}
.banner__container-icons-div-link{
  display: flex;
  flex-direction: row;

}
.banner__container-title1{
  font-size: small;
}

@media (min-width: 1180px) and (max-width: 1800px) {
.banner__container-div{
display: flex;
justify-content: center;
}
.banner__container-title{
 font-size: xx-large;
}
.banner__container-about{
  font-size: medium;
}
.banner__container-title1{
  font-size: medium;
}

.banner__container-img{
  width: 25px;
}
}





