.form__container-div {
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
  &-name1 {
    display: flex;
    flex-direction: column;
  }
  &-name {
    font-size: small;
    padding-left: 20px;
  }
  &-name-text {
    color: black;
    border-radius: 30px;
    margin: 1em;
    padding: 1em 10em;
    border: 0;
    background-color: white;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    border: 1px solid black;
    margin: 0;
  }
  &-email {
    font-size: small;
    padding-left: 20px;
  }
  &-email-text {
    color: black;
    border-radius: 30px;
    margin: 1em;
    padding: 1em 0em;
    border: 0;
    background-color: white;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    border: 1px solid black;
    margin: 0;
  }
  &-table {
    font-size: small;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }
  &-table-table {
    height: 150px;
    border-radius: 30px;
    margin: 1em;
    padding: 1em 1em;
    margin: 0;
  }
  &-table-message {
    color: black;
    border-radius: 30px;
    margin: 1em;
    padding: 1em 5em;
    border: 0;
    background-color: rgb(176, 161, 161);
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    border: 1px solid white;
  }
}
.form_container-div {
  display: flex;
  justify-content: center;
}
.form__container-image {
  padding-left: 10px;
}
.form__container-image-pic {
  border-radius: 05%;
  padding-left: 10px;
}

.contact-title {
  justify-content: center;
  font-size: medium;
  display: flex;
  padding-top: 50px;
}
.form__container-div-table-table {
  padding: 1em 12em;
}

.div__form {
  // border: 1px solid blue;
  padding-left: 40px;
  padding-right: 40px;
}
.form__container-div-2 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1180px) and (max-width: 1800px) {
  .form__container-div {
    display: flex;
    flex-direction: column;
  }
  .contact-title-name {
    font-size: large;
  }
  .form__container-div-table-table {
    padding: 1em 30em;

  }
  .form__container-div-name1{
     padding: 1em 12em;
  }
  .form__container-div-2{
     padding: 1em 12em;
  }
  .form__container-div-message{
    padding-left: 199px;
  }
}
