.footer_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    background-color: rgb(176, 161, 161);


    &-div{
        // border: 1px solid red;
       
    }
    &-logo{
        margin: 0;
        padding-left: 60px;
    }
    &-toronto{
       padding-left: 60px;
    
    }
    &-address{
        font-size: small;
     
    }
    &-sup{
        padding-left: 60px;
        font-size: small;
    }
}
@media (min-width: 1180px) and (max-width: 1800px) {
.footer_container{
   justify-content: space-around;
 background-color: rgb(176, 161, 161);
}

}
