.header__container-div {
  display: flex;
  padding-left: 50px;
}
.header__container-paragraphs {
  display: flex;
  align-self: center;
 padding-right: 50px;
  margin-left: auto;
}
.header__container-paragraph{
  padding-left: 10px;
  font-size: small;
}
@media (min-width: 1180px) and (max-width: 1800px) {
  .header__container-paragraph{
  font-size: medium;
}
}