.services {
  width: auto;
  overflow: auto;
  margin: 0 auto;
  border: 1px solid red;
justify-content: space-around;
padding-left: 60px;
padding-top: 40px;
padding-bottom: 30px;


}
.pricecol_web {
  width: 30%;
  background: rgb(38, 48, 52);
  min-height: 30%;
  border-radius: 10px;
  position: relative;
  padding: 10px 0px;
  text-align: center;
  font-family: verdana;
  float: left;
  margin-left: 10px;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgb(108, 140, 54);
  color: #fff;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.icon i {
  font-size: 30px;
  position: relative;
  top: 15px;
}

h3 span {
  border-top: 1px solid rgb(51, 60, 64);
  border-bottom: 1px solid rgb(25, 31, 34);
  display: block;
  padding: 10px 0px;
  font-family: verdana;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0px;
  color: black;
  font-family: verdana;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  color: rgb(165, 174, 178);

}
li {
  padding: 10px 0px;
  border-top: 1px solid rgb(51, 60, 64);
  border-bottom: 1px solid rgb(25, 31, 34);
  color: black;
}
.pricecol_SEO {
  width: 30%;
  background: rgb(38, 48, 52);
  min-height: 30%;
  border-radius: 10px;
  position: relative;
  padding: 10px 0px;
  text-align: center;
  font-family: verdana;
  float: left;
  margin-left: 10px;
}
.pricecol_Ads {
  width: 30%;
  background: rgb(38, 48, 52);
  min-height: 30%;
  border-radius: 10px;
  position: relative;
  padding: 10px 0px;
  text-align: center;
  font-family: verdana;
  float: left;
  margin-left: 10px;
}